<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarItemsCreators" role="button" data-bs-toggle="dropdown" aria-expanded="false">Items Creators</a>
            <ul class="dropdown-menu" aria-labelledby="navbarItemsCreators">
              <li><a class="dropdown-item" href="#">Create Custom Item</a></li>
              <li><a class="dropdown-item" href="#">Create Item Base on SD Id</a></li>
              <li><a class="dropdown-item" href="#">Items from Regressions</a></li>
              <li><a class="dropdown-item" href="#">Items from TMS Tasks</a></li>
              <li><a class="dropdown-item" href="#">Items from Projects</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/items-synchronization">Items Synchronization</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/manager-dashboard">Manager's Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/daily-meetings">Daily Meetings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/notifications">Notifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/chat">Chat</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarJobScheduler" role="button" data-bs-toggle="dropdown" aria-expanded="false">Job Scheduler</a>
            <ul class="dropdown-menu" aria-labelledby="navbarJobScheduler">
              <li><a class="dropdown-item" href="#">Setup</a></li>
              <li><a class="dropdown-item" href="#">Jobs logger</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarOther" role="button" data-bs-toggle="dropdown" aria-expanded="false">Other</a>
            <ul class="dropdown-menu" aria-labelledby="navbarOther">
              <li><a class="dropdown-item" href="#">Support People Search</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarSetup" role="button" data-bs-toggle="dropdown" aria-expanded="false">Setup</a>
            <ul class="dropdown-menu" aria-labelledby="navbarSetup">
              <li><a class="dropdown-item" href="#">Permissions</a></li>
              <li><a class="dropdown-item" href="#">Appearance</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>