<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head')%>

  <body>
    <%- include('partials/navbar')%>

    <div class="container">
      <h1 class="display-1 text-center text-primary">Notifications</h1>
    </div>

    <%- include('partials/footer')%>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>

</html>